#title{
    text-align: center;
    
}
#sub1{
    font-size:40px;
}
font1{
    font-size: 40px;
}
subfont1{
    font-size: 30px;
    text-align: center;
}

#question{
    position: absolute;
    margin-top: 100px;
    margin-left: 40%;
}